In [5]:
import sqlite3

connection = sqlite3.connect('sample.db') # stablishing the connection with the database
cursor = connection.cursor() # setting our cursor

In [6]:
query = 'SELECT * FROM people'

for result in cursor.execute(query):
    print(result)

(1, 'Tammy', 'Maxwell')
(2, 'Mike', 'Valdez')
(3, 'Andrew', 'Pierce')
(4, 'Stephanie', 'Johnson')
(5, 'Shelby', 'Jones')
(6, 'Zoe', 'Dixon')
(7, 'Cynthia', 'Crosby')
(8, 'Ian', 'Snyder')
(9, 'Jamie', 'Watson')
(10, 'Jordan', 'Moreno')
(11, 'Wayne', 'Giles')
(12, 'Cristina', 'Smith')
(13, 'Catherine', 'Martin')
(14, 'Marie', 'Bennett')
(15, 'Brittney', 'Bishop')
(16, 'Douglas', 'Osborne')
(17, 'Anna', 'Rice')
(18, 'Rebecca', 'Hogan')
(19, 'Richard', 'Garcia')
(20, 'Melanie', 'Ryan')
(21, 'Robert', 'Perez')
(22, 'Joanna', 'Barajas')
(23, 'Mary', 'Bates')
(24, 'Zoe', 'Daniel')
(25, 'Makayla', 'Butler')
(26, 'Victor', 'Hines')
(27, 'Ashley', 'Benton')
(28, 'Diamond', 'Watkins')
(29, 'Pamela', 'Rivera')
(30, 'Karen', 'Moore')
(31, 'Daniel', 'Walsh')
(32, 'Edwin', 'Wells')
(33, 'Carolyn', 'Saunders')
(34, 'Julie', 'Ray')
(35, 'Tyler', 'Moreno')
(36, 'Margaret', 'Hood')
(37, 'Robin', 'Turner')
(38, 'Nancy', 'Hicks')
(39, 'James', 'Johnson')
(40, 'Gregory', 'Giles')
(41, 'Amanda', 'Richards')
(42, 'Michael', 'Mueller')
(43, 'Mark', 'Perez')
(44, 'Carolyn', 'Garcia')
(45, 'Jose', 'Hopkins')
(46, 'David', 'Thomas')
(47, 'Valerie', 'Landry')
(48, 'Terri', 'Sexton')
(49, 'Christie', 'Thomas')
(50, 'Jennifer', 'Morrison')
(51, 'Jared', 'Estrada')
(52, 'April', 'Morgan')
(53, 'Brian', 'Guerra')
(54, 'Brian', 'Reyes')
(55, 'Raymond', 'Sellers')
(56, 'Kristin', 'Mcdonald')
(57, 'Justin', 'Rivera')
(58, 'Lisa', 'Wiley')
(59, 'Cathy', 'Jones')
(60, 'Natalie', 'Young')
(61, 'Douglas', 'Wilson')
(62, 'Kelsey', 'Lester')
(63, 'Manuel', 'Harris')
(64, 'Melissa', 'Williams')
(65, 'Kimberly', 'Savage')
(66, 'Linda', 'Jones')
(67, 'David', 'Buck')
(68, 'Meghan', 'Reed')
(69, 'Edward', 'Price')
(70, 'Brian', 'Holland')
(71, 'Juan', 'Smith')
(72, 'Alyssa', 'Pena')
(73, 'Gina', 'Allen')
(74, 'Lindsey', 'Martinez')
(75, 'Jenna', 'Miller')
(76, 'Michael', 'Young')
(77, 'Emily', 'Hunter')
(78, 'Kelly', 'Christensen')
(79, 'Ryan', 'Rhodes')
(80, 'Larry', 'Williams')
(81, 'Linda', 'Lee')
(82, 'Paul', 'Fernandez')
(83, 'Steven', 'Ryan')
(84, 'Laura', 'Patel')
(85, 'Steven', 'Brown')
(86, 'William', 'White')
(87, 'Tiffany', 'Rollins')
(88, 'Cynthia', 'Bender')
(89, 'Kevin', 'Johnson')
(90, 'Dawn', 'Andrade')
(91, 'Mia', 'Gomez')
(92, 'James', 'Tucker')
(93, 'Spencer', 'Davis')
(94, 'Gary', 'Jacobs')
(95, 'Jessica', 'Jordan')
(96, 'Vincent', 'Butler')